.products {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  &_title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 45px;
  }
  &_add {
    text-align: right;
    margin-bottom: 15px;
  }
  &_table {
    width: 100%;
    td,
    th {
      border: 1px solid #fff;
      padding: 10px;
      text-align: center;
    }
  }

  &_item {
    width: 100%;
  }
  &_img {
    display: flex;
    justify-content: center;
    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  .title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 45px;
  }
}

.news {
  width: 94%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
  &_list {
    width: 100%;
    margin-block: 70px;
  }
  &_item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_block {
    font-size: 18px;
    margin-right: 70px;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_cat {
    margin-right: 15px;
  }
  &_title {
    flex: 1;
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-right: 20px;
  }
}

.btn_loadmore {
  text-align: center;
  span {
    width: 100%;
    max-width: 260px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}

.post {
  &_detail {
    padding-top: 60px;
    width: 94%;
    max-width: 1000px;
    margin: 0 auto;
  }
  &_title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
  }
  &_image {
    line-height: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
  }
  &_content {
    font-size: 18px;
    line-height: 1.75;
  }
}